body {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	line-height: 1.2;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;

	overflow-x: hidden;
}

body,
html,
#root {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

input,
button {
	outline: none;
}

a {
	text-decoration: none;
}
:root {
	--main-x-padding: 80px;
	@media screen and (max-width: 1024px) {
		--main-x-padding: 40px;
	}
	@media screen and (max-width: 768px) {
		--main-x-padding: 20px;
	}
	--primary: #42567a;
	--ghost-primary: rgba(66, 86, 122, 0.1);
	--circle-color: rgba(66, 86, 122, 0.2);
}
